<%- include('../includes/head.ejs') %>
    <!-- Font Awesome -->
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="mt-3 mb-3">
                <div class="alert alert-warning alert-dismissible fade show col-sm-12" role="alert" id="del">
                    <strong>Cách dùng</strong> nhập url theo mẫu [?biến_1='value 1'& biến_2='value 2'& ...] <br>
                     danh sách biến bao gồm keyWord, startDate ,endDate, page, target_min, target_max, status. <br>
                     Ví dụ: status=runing&target_min=0 & target_max = 100000000 & startDate = 2022-07-21 & endDate = 2022-08-06&keyWord=test
                    </button>
                </div>
                <div  style="margin:auto;">
                    <div class="form-group row col-lg-9 col-sm-12" style="margin: auto;">
                        <label for="text" class="col-4 col-form-label" style="text-align: right;"> URL = /admin/projects?</label>
                        <div class="col-6 ">
                            <input type="text" style="margin-bottom: 10px;" id="url" name="url" class="form-control"
                                placeholder="biến_1='value 1'& biến_2='value 2'&" />
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <a class="btn btn-secondary" id = 'linkFilter'
                                     href="/admin/projects?" style =" background-color: #a50064!important; border-color: aliceblue; ">Lọc</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin:auto;">
                    <div class="form-group row col-lg-9 col-sm-12" style="margin-bottom: 5px;margin: auto;">
                        <label for="text" class="col-4  col-form-label" style="text-align: right;"> URL = /admin/users?</label>
                        <div class="col-6">
                            <input type="text" id="urlUser" name="urlUser" class="form-control"
                                placeholder="biến_1='value 1'& biến_2='value 2'&" />
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <a class="btn btn-secondary" style =" background-color: #a50064!important; border-color: aliceblue; " id = 'linkFilterUser'
                                     href="/admin/users?">Lọc</a>
                            </div>
                        </div>
                    </div>
                    
                </div>

        
            </main>
             <script src="/js/admin-filter.js"></script>
            <!-- MDB -->



            </script>

            <%- include('../includes/end.ejs') %>