<ul class="nav justify-content-center">
  <li class="nav-item">
    <a <% if(previousPage<1){ %> class="nav-link disabled" <%}else{%> class="nav-link"<%}%> 
      href="?page=<%=previousPage%>" aria-label="Previous" >
            <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  <%for( let i=1;i<=lastPage;i++){%>
    <li class="nav-item">
      <a <%if(i==page){%>class="nav-link active" style="color: #f00;" <%}else{%> class="nav-link"<%}%> 
        href="?page=<%=i%>" ><%=i%></a>
    </li>
    <%}%>
      <li class="nav-item">
        <a <%if(page==lastPage){%>class="nav-link disabled"<%}else{%>class="nav-link"<%}%> 
          href="?page=<%=page+1%>"
                aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
</ul>