h5.card-title{
 font-size:1.1rem;
 color: rgba(41, 40, 40, 0.863);
 font: 'San Francisco', Helvetica, Arial, san-serif;
 display: block;
 display: -webkit-box;
 max-width: 100%;
 height: 45px;
 margin: 0 auto;
 line-height: 2 rem;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
}
h5.card-title:hover {
    color: #a50064;
}
div.card-footer{
 background-color: #ffffff;
 border-radius:0rem 0rem 1rem 1rem !important;
}
div.card{
    border-radius:1rem;
}
div.card img{
    border-radius:1rem 1rem 0rem 0rem;
}
